body{

margin:0;

background:linear-gradient(135deg,#ff4d6d,#ff8fab);

font-family:Arial;

text-align:center;

color:white;

}

.container{

padding:20px;

}

h1{

font-size:40px;

}

.welcome{

font-size:20px;

margin-bottom:20px;

}

#chat{

height:250px;

background:white;

color:black;

overflow:auto;

padding:15px;

border-radius:15px;

margin-bottom:20px;

}

input{

width:80%;

padding:15px;

border:none;

border-radius:20px;

font-size:16px;

}

button{

margin-top:15px;

padding:12px 25px;

border:none;

border-radius:20px;

font-size:16px;

background:#ff0066;

color:white;

cursor:pointer;

}
